{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Fertile Soil Ministries</title>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<meta name="description" content="Fertile Soil Ministries provides life changing experiences by exposing people to the needs of their neighbors.  Through the use of spiritual journeys we transform lives.">
<meta name="keywords" content="Short Term Missions, Disaster Recover, NC Flood Relief">
<meta name="Author" content="Brandon Passmore">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="css/component.css" />
        <script src="js/modernizr.custom.js"></script>
</head>

<body>
<header>
Fertile Soil Ministries
<!--<img src="{% static 'img/field-1920.jpg' %}" alt="Not Working" width="100%" height="150px">-->
</header>

  <div class="content">

  </div>


</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/jquery.cbpQTRotator.min.js"></script>
<script>$( function() {$( '#cbp-qtrotator' ).cbpQTRotator();} );</script>
</html>
